name: CI

on:
  push:
    branches: [ "main", "release/**" ]
  pull_request:
    branches: [ "main", "release/**" ]
  workflow_dispatch:

jobs:
  build-and-publish:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
        
      - name: Set up .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'
        
      - name: Build
        uses: ./.github/actions/build-template
        with:
          os: ${{ matrix.os }}

      - name: Run Windows Quality Check
        if: startsWith(matrix.os, 'windows')
        uses: ./.github/actions/windows-quality-check-template

      - name: Run Quality Check
        if: startsWith(matrix.os, 'ubuntu')
        uses: ./.github/actions/quality-check-template

      - name: Publish
        uses: ./.github/actions/publish-template
        with:
          os: ${{ matrix.os }}